<!doctype html>
<html>
    <head>
        <title>Newsletter</title>
        <link rel="icon" type="image/x-icon" href="/static/new_york_times_icon.png">
    </head>

    <body>
        <p>
            <form action = "http://localhost:5000/calling_api" method = "post">
                <p>Manda o email:</p>
                <p><input type = "text" name = "email" /></p>
                <!-- TODO: Escolher os assuntos das materias aqui -->
                <p><input type = "submit" value = "submit" /></p>
             </form>   
        </p>
    </body>
</html>
